// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Materialize-css
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~materialize-css/dist/css/materialize.css';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}